<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs sidepic sidesize"><div class="fillpic1 sidesize"></div></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
    </div>
</div>