<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 hidden-sm hidden-xs sidepic sidesize"><div class="fillpic1 sidesize"></div></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="frontpage">
        <p>Welcome to 2018 World Cup Football Pick'em!</p>
        <p>Please sign up or sign in and then the link to make you picks will appear. Continue through until all your picks are chosen. If you encounter a problem please let me know.</p>
        <p>Remember this is still a work in progress. Scoring is still awaiting implementation as well as reliable route for users to reset their picks. In the meantime, please contact me to reset your picks for you.</p>
        <p>Thank you and enjoy!</p>
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <br>
            <br>
            <%= link_to 'Make Your Picks', new_group_stage_winner_path %>
          <% else %>
            <%= link_to('Login/Sign Up', new_user_session_path) %>
        <% end %>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
</div>
