<h1>New Placement</h1>
<p>groupa1, groupb1, groupc1, groupd1, groupe1, groupf1, grougg1, grouph1, groupa2, groupb2, groupc2, groupd2, groupe2, groupf2, grougg2, grouph2</p>
<p>a1_v_b2, c1_v_d2, e1_v_f2, g1_v_h2, b1_v_a2, d1_v_c2, f1_v_e2, h1_v_g2</p>
<p>qf1_w, qf2_w, qf3_w, qf4_w</p>
<p>sf1_w, sf2_w</p>
<p>champion</p>

<%= render 'form' %>

<%= link_to 'Back', placements_path %>
