<h1>Editing Group Stage Picks</h1>

<%= render 'form' %>

<% if signed_in? && current_user.admin? %>
    <%= link_to 'Show', @group_stage_winner %> |
    <%= link_to 'Back', group_stage_winners_path %>
<% end %>
